{
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 130,
    "arrowParens": "always",
    "endOfLine": "lf",
    "overrides": [
        {
            "files": ["*.js", "*.jsx"],
            "options": {
                "singleQuote": true,
                "semi": true,
                "trailingComma": "none",
                "bracketSpacing": true
            }
        },
        {
            "files": ["*.ts", "*.tsx"],
            "options": {
                "singleQuote": true,
                "semi": true,
                "trailingComma": "none",
                "bracketSpacing": true,
                "parser": "typescript"
            }
        },
        {
            "files": ["*.less", "*.css", "*.scss"],
            "options": {
                "singleQuote": true
            }
        }
    ]
}
