@import 'src/style/variables';

.component-button {
    position: relative;

    height: 60px;
    min-width: 100px;
    padding: 0 20px;

    color: white;
    font-weight: bold;
    font-size: 14px;

    border: none;
    border-radius: $inner-border-radius;

    cursor: pointer;

    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;

    &.small {
        height: 35px;
        min-width: unset;
        padding: 0 15px;

        border-radius: 15px;
    }

    &.loading {
        color: transparent;

        .component-button-spinner {
            color: white;
        }
    }

    &.style-blue {
        background-color: $blue;

        &:hover {
            background-color: darken($color: $blue, $amount: 7);
        }

        &:active {
            background-color: darken($color: $blue, $amount: 14);
        }
    }

    &.style-red {
        background-color: $red;

        &:hover {
            background-color: darken($color: $red, $amount: 7);
        }

        &:active {
            background-color: darken($color: $red, $amount: 14);
        }
    }

    &.style-grey {
        border: 1px solid #6b707a;

        background-color: transparent;

        &:hover {
            background-color: #6b707a;
        }

        &:active {
            border-color: darken($color: #6b707a, $amount: 14);

            background-color: darken($color: #6b707a, $amount: 14);
        }
    }
}

.component-button-spinner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: transparent;
    font-size: 20px;

    transition: color 0.2s ease;
}
