@import 'src/style/variables';

//.screen-main {
//    display: flex;
//    flex-direction: row;
//    justify-content: center;
//    align-items: stretch;
//}

.screen-main-left-top-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    height: 70px;

    color: darken($color: white, $amount: 20);
}

.screen-main-left-top-bar-logo {
    flex: 1;
    padding: 0 20px;
    font-size: 25px;
    animation-name: rotate-logo-colors;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    color: $blue;
}

@keyframes rotate-logo-colors {
    0% {
        color: $blue;
    }
    25% {
        color: $red;
    }
    50% {
        color: $yellow;
    }
    75% {
        color: $green;
    }
    100% {
        color: $blue;
    }
}

.screen-main-left-top-bar-separator {
    width: 1px;
    height: 15px;
    margin: 0 20px;

    background-color: #232832;
}

// Exit
.screen-main-left-top-bar-user-exit {
    margin-right: 20px;

    .exit-icon {
        position: relative;
        top: 1px;
        left: 2px;
    }
}

.screen-main-left-top-bar-user-exit-button {
    padding: 0 11px !important;
}

// User
.screen-main-left-top-bar-user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.screen-main-left-top-bar-user-icon {
    margin-right: 20px;

    font-size: 20px;
}

.screen-main-left-top-bar-user-right {
}

.screen-main-left-top-bar-user-right-title {
    color: #878c96;
    font-size: 12px;
}

.screen-main-left-top-bar-user-right-name {
    margin-top: 5px;

    color: white;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.screen-main-content {
    margin-top: 20px;
    //max-height: calc(100vh - 130px);
    overflow: hidden;
}
