@import 'src/style/variables';

.screen-songs {
    margin: 0 20px;
    padding-bottom: 20px;
}

.screen-songs-top-panel {
    padding: 12px;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
}

.screen-songs-search-input {
    flex: 1;
    margin-bottom: 0;
}

.screen-songs-add-button {
    //width: 50px;
    height: 50px;
    margin-left: 12px;
}

// List
.screen-songs-list {
    max-height: calc(100vh - 220px);
    padding: 0 12px;

    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;

        background-color: fade-out($color: black, $amount: 0.8);
    }
}

.screen-songs-list-item-wrapper {
    position: relative;
}

.screen-songs-list-item-separator {
    position: absolute;
    left: 30px;
    bottom: 0px;
    right: 30px;

    border-top: 1px solid #232832;
}

.screen-songs-list-item {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    flex-wrap: nowrap;

    height: 50px;
    margin-top: -1px;
    padding: 0 0 0 40px;

    color: white;
    font-weight: bold;
    line-height: 50px;

    border-radius: 21px;

    cursor: pointer;

    user-select: none;

    transition: background-color 0.2s ease;

    &:hover {
        background-color: #252a34;

        .screen-songs-list-item-settings {
            opacity: 1;
        }
    }

    &.selected-item {
        background-color: darken(#252a34, 2);

        cursor: default;

        .screen-songs-list-item-settings {
            cursor: default;

            opacity: 0.5;

            pointer-events: none;
        }
    }
}

.screen-songs-list-item-format {
    position: absolute;
    width: 26px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    left: 9px;
    top: (50px - 16px) / 2;
    border-radius: 5px;
    font-size: 11px;
    background-color: $text-primary-color;
    color: $text-secondary-color;

    &.song-format-mp3 {
        background-color: #fee38a;
    }
    &.song-format-flac {
        background-color: $red;
        color: $text-primary-color;
    }
}

.screen-songs-list-item-name {
    font-size: 15px;
}

.screen-songs-list-item-performer {
    font-size: 13px;
    color: $text-primary-color;
    opacity: 0.7;
    margin-left: 6px;
}

.screen-songs-list-loading-more {
    position: absolute;
    left: 10px;
    bottom: 10px;
    right: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 60px;

    color: $blue;
    font-size: 17px;

    border-radius: 25px;

    background-color: #232832;

    user-select: none;
    pointer-events: none;

    svg {
        margin-right: 10px;

        font-size: 21px;
    }
}

.screen-songs-list-item-settings {
    position: absolute;
    top: 50%;
    right: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 26px;
    margin-top: -13px;

    font-size: 14px;

    border-radius: 12px;

    background-color: $blue;

    cursor: pointer;

    opacity: 0;

    transition: opacity 0.2s ease, background-color 0.2s ease;

    &:hover {
        background-color: darken($color: $blue, $amount: 7);
    }

    svg {
        position: relative;
        left: 0.7px;
    }
}

// Empty
.screen-songs-list-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 275px;
}

.screen-songs-list-empty-icon {
    color: darken($color: white, $amount: 30);
    font-size: 30px;
}

.screen-songs-list-empty-text {
    margin-top: 20px;

    color: white;
}

// Error
.screen-songs-list-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 275px;
}

.screen-songs-list-error-icon {
    color: $red;
    font-size: 30px;
}

.screen-songs-list-error-text {
    margin-top: 20px;

    color: white;
}

.screen-songs-list-error-reload {
    margin-top: 20px;
}

// Loading
.screen-songs-list-loading {
}

.screen-songs-list-loading-item {
    position: relative;

    height: 50px;
    margin-bottom: 5px;

    border-radius: 21px;

    background-color: fade-out($color: #000000, $amount: 0.8);
}
