.screen-login {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 300px;
    height: 230px;
    margin-top: -200px;
    margin-left: -150px;
    padding: 20px;
}

.screen-login-login-button {
    position: absolute;
    left: 50%;
    bottom: 0;

    width: 150px;
    margin-bottom: -30px;
    margin-left: -75px;
}

.screen-login-sign-up {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    margin-top: 40px;

    color: #b9c0ce;
    text-align: center;
    text-decoration: underline;

    transition: color 0.2s ease;

    &:hover {
        color: white;
    }
}
