@font-face {
    font-weight: 400;
    font-family: 'Open Sans';
    font-style: normal;
    src: url('../public/fonts/OpenSans/OpenSans-Regular.ttf'), format('ttf');
}

@font-face {
    font-weight: 700;
    font-family: 'Open Sans';
    font-style: bold;
    src: url('../public/fonts/OpenSans/OpenSans-Bold.ttf'), format('ttf');
}
