// text
$text-primary-color: white;
$text-secondary-color: #2a2f39;

// sizes
$inner-border-radius: 25px;
$outer-border-radius: 30px;

// colors
$blue: #0071ff;
$red: #f01059;
$yellow: #fee38a;
$green: #01aba0;
